{% extends 'base.html.twig' %}

{% block title %}List Wish{% endblock %}

{% block body %}

<div>
     <h1>Liste Wish</h1>

    <div class="uk-child-width-1-3@m uk-grid-small uk-grid-match" uk-grid>
    {% for wish in wishList %}
        <div>
            <div class="uk-card uk-card-default">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="40" height="40" src="https://i.pravatar.cc/150?img=3">
                        </div>
                        <div class="uk-width-expand">
                            <h3 class="uk-card-title uk-margin-remove-bottom">{{ wish.title }}</h3>
                            <p class="uk-text-meta uk-margin-remove-top">{{ wish.getCategory().getName() }}</p>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body">
                    <p>{{ wish.description }}</p>
                </div>
                <div class="uk-card-footer">
                    <a href="{{ path("app_wish_show", { "id" : wish.getId() }) }}" class="uk-button uk-button-text">Read more</a>
                    <br><br><a href="{{ path("app_wish_create", { "id" : wish.getId() }) }}" class="uk-button uk-button-default">Edit</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
